name: Terraform Deployment for Dev Environment

on:
  push:
    branches:
      - main  # This workflow runs on pushes to the main branch

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: v1.9.8  

      - name: Configure AWS credentials for Dev
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::826223691807:role/githubawsRole  # Use the appropriate role ARN
          aws-region: us-east-1  # Set your desired AWS region

          
      - name: Verify AWS Credentials
        run: |
          aws sts get-caller-identity  # Check if credentials are properly assumed

      - name: Terraform Init
        run: |
          set -e  # Exit if any command fails
          terraform init  # Initializes Terraform

      - name: Terraform Plan
        run: |
          set -e  # Exit if any command fails
          terraform plan  # Creates an execution plan

      - name: Terraform Apply
        run: |
          set -e  # Exit if any command fails
          terraform apply -auto-approve  # Applies the planned changes
